extends layouts/main

block content
    .user-detail__header
        span User Detail
    .users-detail-content
        ul
            li name: #{user.name}
            li e-mail: #{user.email}
            li avatar: 
                img(src=user.avatarUrl, alt=user.name)
            li github: #{user.githubId}
            lib facebook: #{user.facebookId}